In [79]:
test_data = pd.DataFrame(
    [
        {"RowNumber":138,"CustomerId":15610156,"Surname":"Ma","CreditScore":637,"Geography":"France","Gender":"Male","Age":40,"Tenure":2,"Balance":133463.1,"NumOfProducts":1,"HasCrCard":0,"IsActiveMember":1,"EstimatedSalary":93165.34,"Exited":0},
        {"RowNumber":3103,"CustomerId":15660866,"Surname":"Chimaobim","CreditScore":640,"Geography":"France","Gender":"Female","Age":29,"Tenure":3,"Balance":0.0,"NumOfProducts":2,"HasCrCard":1,"IsActiveMember":0,"EstimatedSalary":2743.69,"Exited":0},
        {"RowNumber":1575,"CustomerId":15693018,"Surname":"Ermakova","CreditScore":678,"Geography":"Germany","Gender":"Male","Age":23,"Tenure":10,"Balance":115563.71,"NumOfProducts":1,"HasCrCard":1,"IsActiveMember":1,"EstimatedSalary":91633.53,"Exited":0},
        {"RowNumber":7914,"CustomerId":15649450,"Surname":"Repina","CreditScore":805,"Geography":"Germany","Gender":"Male","Age":24,"Tenure":6,"Balance":143221.35,"NumOfProducts":2,"HasCrCard":1,"IsActiveMember":0,"EstimatedSalary":186035.72,"Exited":0},
        {"RowNumber":7565,"CustomerId":15759387,"Surname":"McIntosh","CreditScore":598,"Geography":"Germany","Gender":"Male","Age":38,"Tenure":1,"Balance":101487.18,"NumOfProducts":1,"HasCrCard":1,"IsActiveMember":1,"EstimatedSalary":75959.1,"Exited":1},
        {"RowNumber":4546,"CustomerId":15667476,"Surname":"Cox","CreditScore":477,"Geography":"Germany","Gender":"Female","Age":36,"Tenure":3,"Balance":117700.86,"NumOfProducts":1,"HasCrCard":0,"IsActiveMember":0,"EstimatedSalary":74042.0,"Exited":0},
        {"RowNumber":7609,"CustomerId":15598574,"Surname":"Uwakwe","CreditScore":695,"Geography":"Spain","Gender":"Female","Age":31,"Tenure":5,"Balance":0.0,"NumOfProducts":2,"HasCrCard":0,"IsActiveMember":1,"EstimatedSalary":13998.88,"Exited":0},
        {"RowNumber":6122,"CustomerId":15607629,"Surname":"Hollis","CreditScore":679,"Geography":"France","Gender":"Male","Age":48,"Tenure":8,"Balance":0.0,"NumOfProducts":2,"HasCrCard":1,"IsActiveMember":0,"EstimatedSalary":23344.94,"Exited":0},
        {"RowNumber":6813,"CustomerId":15605059,"Surname":"Mackie","CreditScore":576,"Geography":"Germany","Gender":"Male","Age":63,"Tenure":3,"Balance":148843.56,"NumOfProducts":1,"HasCrCard":1,"IsActiveMember":0,"EstimatedSalary":69414.13,"Exited":1},
        {"RowNumber":9809,"CustomerId":15581115,"Surname":"Middleton","CreditScore":603,"Geography":"France","Gender":"Female","Age":39,"Tenure":9,"Balance":76769.68,"NumOfProducts":1,"HasCrCard":0,"IsActiveMember":0,"EstimatedSalary":48224.72,"Exited":0},
        {"RowNumber":19809,"CustomerId":15581125,"Surname":"Middleton","CreditScore":783,"Geography":"France","Gender":"Female","Age":44,"Tenure":3,"Balance":176769.68,"NumOfProducts":2,"HasCrCard":1,"IsActiveMember":1,"EstimatedSalary":98224.72,"Exited":0},
        {"RowNumber":7546,"CustomerId":15667479,"Surname":"Cox","CreditScore":577,"Geography":"Germany","Gender":"Female","Age":26,"Tenure":4,"Balance":11770.86,"NumOfProducts":2,"HasCrCard":0,"IsActiveMember":0,"EstimatedSalary":274042.0,"Exited":0},
        {"RowNumber":7546,"CustomerId":15667479,"Surname":"Cox","CreditScore":577,"Geography":"Germany","Gender":"Male","Age":59,"Tenure":4,"Balance":11770.86,"NumOfProducts":1,"HasCrCard":1,"IsActiveMember":0,"EstimatedSalary":54042.0,"Exited":0},
    ]
)

In [82]:
import pandas as pd
import joblib

# Load Dataset
df = test_data#pd.read_csv('../data/churn.csv')

# Balance per age
df['BalancePerAge'] = round(df['Balance'] / df['Age'], 2)

# Excluded Columns - "Surname", "Balance", "Exited", "MeanSalary"
df = df[
    ['CreditScore', 'Geography', 'Gender', 'Age','Tenure', 'Balance', 'NumOfProducts', 'HasCrCard','IsActiveMember','EstimatedSalary', 'BalancePerAge']
]

# Load Model
pipeline = joblib.load('../models/CBC_model_C3_pipeline.joblib')

# Predict Churn Probability
#pipeline.predict_proba(df)

# Create a churn probability column
test_data['ExitedProba'] = [round((p * 100), 2) for i, p in pipeline.predict_proba(df).tolist()]

# Create minimum revenue (15% of the Estimated Salary)
test_data['RevenueEtimative'] = df['EstimatedSalary'] * 0.15
test_data

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,BalancePerAge,RevenueEtimative,ExitedProba
0,138,15610156,Ma,637,France,Male,40,2,133463.10,1,0,1,93165.34,0,3336.58,13974.8010,7.18
1,3103,15660866,Chimaobim,640,France,Female,29,3,0.00,2,1,0,2743.69,0,0.00,411.5535,0.41
2,1575,15693018,Ermakova,678,Germany,Male,23,10,115563.71,1,1,1,91633.53,0,5024.51,13745.0295,1.02
3,7914,15649450,Repina,805,Germany,Male,24,6,143221.35,2,1,0,186035.72,0,5967.56,27905.3580,2.05
4,7565,15759387,McIntosh,598,Germany,Male,38,1,101487.18,1,1,1,75959.10,1,2670.72,11393.8650,49.35
5,4546,15667476,Cox,477,Germany,Female,36,3,117700.86,1,0,0,74042.00,0,3269.47,11106.3000,17.55
6,7609,15598574,Uwakwe,695,Spain,Female,31,5,0.00,2,0,1,13998.88,0,0.00,2099.8320,2.95
7,6122,15607629,Hollis,679,France,Male,48,8,0.00,2,1,0,23344.94,0,0.00,3501.7410,5.10
8,6813,15605059,Mackie,576,Germany,Male,63,3,148843.56,1,1,0,69414.13,1,2362.60,10412.1195,95.51
9,9809,15581115,Middleton,603,France,Female,39,9,76769.68,1,0,0,48224.72,0,1968.45,7233.7080,15.51
10,19809,15581125,Middleton,783,France,Female,44,3,176769.68,2,1,1,98224.72,0,4017.49,14733.7080,7.94
11,7546,15667479,Cox,577,Germany,Female,26,4,11770.86,2,0,0,274042.00,0,452.73,41106.3000,0.24
12,7546,15667479,Cox,577,Germany,Male,59,4,11770.86,1,1,0,54042.00,0,199.51,8106.3000,91.28